/*
    Document   : tgwf
    Created on : Aug 30, 2011, 3:11:37 PM
    Author     : Arend-Jan Tetteroo (aj@arendjantetteroo.nl)
*/
body{
    padding-top: 100px;
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    line-height:18px;
    color:#6d6969;
}

.info{
    color: #FFF;
    background-color: #339BB9;
    background-image: -moz-linear-gradient(center top , #5BC0DE, #339BB9);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.warning{
    background-color: #EEDC94;
    background-image: -moz-linear-gradient(center top , #FCEEC1, #EEDC94);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    color: #404040;
    margin-bottom: 18px;
    padding: 7px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

table.jqplot-table-legend, table.jqplot-cursor-legend{
    width: auto;
}

.hero-unit p {
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
}

p {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0px;
    margin-top:5px;
}

ul { list-style-type:square; }

a:link {
    color: #a3c005;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #a3c005;
}
a:hover {
    text-decoration: none;
    color: #888;
}
a:active {
    text-decoration: none;
    color: #a3c005;
}

h1 {
    font: 26px/23px 'MisoBold', Arial, sans-serif;
}
h2 {
    font: 19px/17px 'MisoBold', Arial, sans-serif;
}
h3 {
    font: 18px/15px 'MisoBold', Arial, sans-serif;
    color:#a3c005;
    margin-top:15px;
    margin-bottom: 5px;
}

.Green {
    color:#a3c005;
}

.Grey {
    color:#d9d4d4;
}